.proje{
    height: 60.4vh;
    width: 46vh;
    background-color: #F9FBFD;
    border: 2px solid rgb(222, 222, 228);
    border-radius: 9px;
    border-top: none;
   
   
}

.inputs{
    margin-left: 10%;
    margin-top: 10%;
}
.bat{
    margin-top: -3%;
    position: absolute;
    margin-left: 5%;
    border: 1px solid transparent;
    background: #0193DC;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 120px;
    height: 40px;
    
    

}