.reasons{
    height: 60vh;
    width: 60vh;
    background-color: #F9FBFD;
    border: 2px solid rgb(222, 222, 228);
    border-radius: 9px;
    border-top: none;
    border-bottom: none;
    gap: 1px;
   
}
